.header {
  padding-top: 45px;
  border-bottom: solid rgba(84, 84, 84, 0.7) 1px;
  box-sizing: border-box;
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 775px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    padding-left: 27px;
    padding-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
